---
import { Media } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout title="404">
  <section class="my-12" id="main-content">
    <div class="container">
      <h1>404</h1>
    </div>
  </section>

  <section class="my-12">
    <div class="items-top container block justify-between gap-2 md:flex">
      <div class="space-content">
        <p class="text-2xl">
          Oops, you've wandered off the moose trail! Click below, and we'll whisk you back home faster than a sled down
          a snowy hill.
        </p>
        <p class="text-2xl">Sorry for the detour, eh!</p>
        <a class="button has-icon" href="/"> <Icon name="ion:trail-sign-outline" /> Take me home</a>
      </div>
      <Media class="mx-auto md:-mt-20" src="/moose-404.webp" />
    </div>
  </section>
</DefaultLayout>
