---
import { Accordion, AccordionItem } from 'accessible-astro-components'
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout title="Frequently Asked Questions">
  <section class="my-12" id="main-content">
    <div class="container">
      <h1>Frequently Asked Questions</h1>

      <div class="space-content mt-12 text-lg">
        <p>
          Here are some common questions you may have. We also have <a
            href="https://github.com/socrates-ca/socrates-ca.github.io/wiki">a wiki</a
          > you can explore.
        </p>
        <p>
          If you still have any question, <a
            href="mailto:nicolascarlo.espeon@gmail.com?subject=Question regarding SoCraTes CA"
            >ping me (nicolascarlo.espeon@gmail.com)</a
          >
        </p>
      </div>

      <div class="space-content mt-12">
        <Accordion>
          <AccordionItem header="What's in the ticket?">
            <div class="space-content text-lg">
              <p>Your ticket includes</p>
              <ul class="list-inside list-disc">
                <li>Two nights (from October 4th to 6th) at Selenia Lodge</li>
                <li>2 breakfasts, 2 lunches, and 2 dinners</li>
                <li>Participation to the conference</li>
                <li>Fall and relaxation activities</li>
              </ul>
              <p>
                Tickets can be refunded until August 15. After that date, we may not be able to refund you (because of
                catering).
              </p>
              <p>Tickets have no name attached to them. You can give yours to someone else if you can't attend.</p>
              <p>
                We do not make any profit from the ticket price. <a href="/#sponsors">Our sponsors</a> help us keep the price
                reasonable for a 2-day code retreat in a typical lodge of the Laurentides, during Canadian Fall 🍁
              </p>
            </div>
          </AccordionItem>
          <AccordionItem header="What kind of topics are discussed?">
            <div class="space-content text-lg">
              <p>
                The exact Agenda is made by the participants, on the spot. It's an Open Space, so <a
                  href="http://unconference.net/unconferencing-how-to-prepare-to-attend-an-unconference/"
                  target="_blank">it's up to you</a
                > to propose a session, or to join one.
              </p>
              <p>That being said, here are some topics that were discussed during previous editions:</p>
              <ul class="list-inside list-disc">
                <li>Prioritize Tech Debt with git metadata</li>
                <li>How to make the community more inclusive</li>
                <li>Remote mob programming</li>
                <li>How to discover what you don't know that you don't know</li>
                <li>Getting started on DDD</li>
                <li>Component design with tests</li>
                <li>How to apply DDD to front-end development?</li>
                <li>Code reviews assisted with AI: good or bad idea?</li>
                <li>… and many more!</li>
              </ul>
              <p>
                Besides regular roundtable discussions, we also had hands-on coding sessions (e.g. refactoring katas),
                live animated workshops (e.g. Event Storming), and even TDD board game!
              </p>
            </div>
          </AccordionItem>
          <AccordionItem header="What to bring?">
            <div class="space-content text-lg">
              <p>Here's what you would need to bring:</p>
              <ul class="list-inside list-disc">
                <li>Your laptop</li>
                <li>A notebook and a pen</li>
                <li>Warm clothes (expect temperatures between 0°C and 15°C)</li>
                <li>Cool clothes (if we are lucky, we may experience Indian Summer with temperatures up to 20°C)</li>
              </ul>
              <p>
                The rest will be available on site. If you have any question, <a
                  href="mailto:nicolascarlo.espeon@gmail.com?subject=Question regarding SoCraTes CA"
                  >ping me (nicolascarlo.espeon@gmail.com)</a
                >.
              </p>
            </div>
          </AccordionItem>
          <AccordionItem header="How to get there?">
            <div class="space-content text-lg">
              <p>The Selenia Lodge address is:</p>
              <address>
                <p>
                  679 chemin de Rockway Valley Route 364<br />
                  Amherst, QC J0T 2L0, Canada<br />
                  Domaine de Kanata Tremblant
                </p>
              </address>
              <p>It's a 1h45 car drive from Montréal, to the North, near Mont-Tremblant.</p>
              <p>
                We will facilitate <a href="https://github.com/socrates-ca/socrates-ca.github.io/wiki/CarSharing"
                  >car sharing</a
                > between participants.
              </p>
            </div>
          </AccordionItem>
          <AccordionItem header="Can your family join?">
            <div class="space-content text-lg">
              <p>
                As a participant, you have an individual room. Each room includes a Queen bed. Therefore, if you want to
                go with your loved one, it is totally possible. In fact, you can bring anyone, as long as you share the
                bed.
              </p>
              <p>
                They may or may not attend the unconference. If they don't, they can still enjoy the cabin and
                surroundings for the weekend.
              </p>
              <p>
                If they attend the lunches and dinner, there is an extra fee to cover for the catering (typically, half
                the full-ticket price).
              </p>
              <p>
                Thus, if you want to bring someone, please <a
                  href="mailto:nicolascarlo.espeon@gmail.com?subject=Question regarding SoCraTes CA"
                  >reach out to us (nicolascarlo.espeon@gmail.com)</a
                >.
              </p>
            </div>
          </AccordionItem>
        </Accordion>
      </div>
    </div>
  </section>
</DefaultLayout>
