---
const currentYear = new Date().getFullYear()
---

<footer>
  <section class="pb-8 pt-4">
    <div class="container">
      <div class="divider mb-4 h-1 w-full"></div>
      <p>
        &copy; {currentYear} - Made with ❤️ and maple syrup. Ask any question to <a href="https://twitter.com/nicoespeon">Nicolas Carlo</a
        > ⦾ <a href="mailto:nicolascarlo.espeon@gmail.com?subject=SoCraTes Canada">nicolascarlo.espeon@gmail.com</a>
      </p>
    </div>
  </section>
</footer>

<style lang="scss">
  .divider {
    color: var(--neutral-900);
    background-image: linear-gradient(40deg, var(--primary-100), var(--secondary-200));
    transform: skewX(-30deg);
  }
</style>
