---
import { SkipLinks } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'
import Navigation from '../components/Navigation.astro'
---

<header>
  <SkipLinks />
  <Navigation>
    <li class="menu-item">
      <a href="/#about">About</a>
    </li>
    <li class="menu-item">
      <a href="/#venue">Venue</a>
    </li>
    <li class="menu-item">
      <a href="/#schedule">Schedule</a>
    </li>
    <li class="menu-item">
      <a href="/#sponsors">Sponsors</a>
    </li>
    <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">FAQ</button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <a href="/faq#what-to-bring">What to bring?</a>
        </li>
        <li class="submenu-item">
          <a href="/faq#getting-there">How to get there?</a>
        </li>
        <li class="submenu-item">
          <a href="/faq#family">Can your family join?</a>
        </li>
        <li class="submenu-item">
          <a href="/code-of-conduct">Code of Conduct</a>
        </li>
      </ul>
    </li>
    <!-- TODO: enable when tickets are available -->
    <!-- <li class="menu-item">
      <a href="https://accessible-astro.dev" title="Buy tickets" rel="external noopener noreferrer" class="flex items-center gap-1.5">
        <Icon name="ion:ticket-outline" />
        Tickets
      </a>
    </li> -->
    <li class="menu-item type-icon">
      <a href="https://twitter.com/SoCraTes_CA/" title="Our Twitter">
        <Icon name="ion:logo-twitter" />
      </a>
    </li>
  </Navigation>
</header>

<style lang="scss" is:global>
  @use '../assets/scss/base/outline' as *;

  header {
    .type-icon a {
      display: block;

      [data-icon] {
        height: auto;
        margin-top: -4px;
        width: 30px;

        path {
          fill: var(--action-color);
        }
      }

      &:hover {
        [data-icon] path {
          fill: var(--action-color-state);
        }
      }
    }
  }
</style>
