---
import { Modal, SkipLinks } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'
import Navigation from '../components/Navigation.astro'
---

<header>
  <SkipLinks />
  <Navigation>
    <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">Home</button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <a href="/#about">About</a>
        </li>
        <li class="submenu-item">
          <a href="/#venue">Venue</a>
        </li>
        <li class="submenu-item">
          <a href="/#schedule">Schedule</a>
        </li>
        <li class="submenu-item">
          <a href="/#testimonials">Testimonials</a>
        </li>
        <li class="submenu-item">
          <a href="/#sponsors">Sponsors</a>
        </li>
      </ul>
    </li>
    <li class="menu-item">
      <a href="/faq">FAQ</a>
    </li>
    <li class="menu-item">
      <a href="/code-of-conduct">Code of Conduct</a>
    </li>
    <li class="menu-item" id="tickets-coming-soon">
      <a href="#0" onclick="false" title="Buy tickets" class="flex items-center gap-1.5">
        <Icon name="ion:ticket-outline" />
        Tickets
      </a>
    </li>
    <li class="menu-item type-icon">
      <a href="https://twitter.com/SoCraTes_CA/" title="Our Twitter">
        <Icon name="ion:logo-twitter" />
      </a>
    </li>
  </Navigation>

  <Modal triggerId="tickets-coming-soon" title="Tickets for the 2025 edition are not available yet" closeText="Close">
    <p>
      Registration for the 2025 edition of SoCraTes Canada is not available yet. We need to finalize the details first.
    </p>
    <p>
      To stay tuned and be the first to know when tickets are available, follow us on <a
        href="https://twitter.com/SoCraTes_CA/">Twitter</a
      >, or join <a href="http://slack.softwarecraftsmanship.org/">our community (channel #socrates_ca)</a>.
    </p>
  </Modal>
</header>

<style lang="scss" is:global>
  @use '../assets/scss/base/outline' as *;

  header {
    .type-icon a {
      display: block;

      [data-icon] {
        height: auto;
        margin-top: -4px;
        width: 30px;

        path {
          fill: var(--action-color);
        }
      }

      &:hover {
        [data-icon] path {
          fill: var(--action-color-state);
        }
      }
    }
  }
</style>
